/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/resources
/app/Http/Controllers/Auth
/app/Http/Controllers/HomeController.php
/database/migrations/2014_10_12_100000_create_password_reset_tokens_table.php
/database/migrations/2014_10_12_100000_create_password_resets_table.php
/database/seeders/UserSeeder.php
/routes/web.php
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
